@inject SignInManager<ApplicationUser> signInManager;
@model ShiftDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@await Html.PartialAsync("_DetailsPartial", Model.Shift.ID)

<div class="mb-3">
@if (User.IsInRole("Executive House Manager") || User.IsInRole("Web Master"))
{
    <a asp-action="Edit" asp-route-id="@Model.Shift.ID">Edit Details</a> <span>|</span>
}
    <a asp-action="Index">Back to List</a>
</div>

<h1>Staff</h1>
<hr />
<div>
    <dl class="row">
        @foreach (var staff in Model.UserShifts)
        {
            string timeSpan = staff.UserStart.ToString("h:mm tt") + " - " + staff.UserEnd.ToString("h:mm tt");
            <dt class="col-sm-4">
                @Html.DisplayFor(model => staff.Position.Name)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => staff.User.FullName)
            </dd>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => timeSpan)
            </dd>
        }
    </dl>
</div>

@if (User.IsInRole("Executive House Manager") || User.IsInRole("Web Master"))
{
    <a asp-controller="shift" asp-action="addstaff" asp-route-id="@Model.Shift.ID">Add Staff</a> <span>|</span>
    <a asp-controller="shift" asp-action="deletestaff" asp-route-id="@Model.Shift.ID">Delete Staff</a> <span>|</span>
}

<a asp-action="Index">Back to List</a>
