@model PaginatedList<Shift>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Past Shifts</h1>
@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Starts</th>
                    <th scope="col">Ends</th>
                    <th scope="col">Venue</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Shift shift in Model)
                {
                    string start = shift.Start.ToString("MM/dd/yyyy h:mm tt");
                    string end = shift.End.ToString("MM/dd/yyyy h:mm tt");
                    <tr>
                        <td><a asp-controller="shift" asp-action="details" asp-route-id="@shift.ID">@Html.DisplayFor(item => shift.Name)</a></td>
                        <td>@Html.DisplayFor(item => start)</td>
                        <td>@Html.DisplayFor(item => end)</td>
                        <td>@Html.DisplayFor(item => shift.Venue.Abbreviation)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    <div class="row justify-content-center">
        <a asp-action="pastshifts"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-primary @prevDisabled m-1">
            Previous
        </a>
        <a asp-action="pastshifts"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-primary @nextDisabled m-1">
            Next
        </a>
    </div>
}
else
{
    <p class="text-center">No Shifts Yet</p>
}

<p><a asp-action="index">View Future Shifts</a></p>

@if (User.IsInRole("Admin"))
{
    <p><a asp-action="create">Create New Shift</a></p>
}

