@model IQueryable<UserShift>
@{
    ViewData["Title"] = "Approve Requests";
    string dateString = "MM/dd/yyyy h:mm tt";
}

<h1 class="text-center">Approve Requests</h1>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Original Employee</th>
                    <th scope="col">Shift</th>
                    <th scope="col">Being Taken By</th>
                    <th scope="col">Position</th>
                    <th scope="col">Starts</th>
                    <th scope="col">Ends</th>
                    <th scope="col">Approve</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    var start = m.UserStart.ToString(dateString);
                    var end = m.UserEnd.ToString(dateString);
                    <tr>
                        <td>@m.User.FullName</td>
                        <td>@m.Shift.Name</td>
                        <td>@m.TakenBy.FullName</td>
                        <td>@m.Position.Name</td>
                        <td>@start</td>
                        <td>@end</td>
                        <td>
                            <form asp-action="approveRequests" asp-route-id="@m.UserShiftID">
                                <button type="submit" class="btn btn-success p-0">Approve</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-center">No pending requests</p>
}